        body {
            background-color: #0077b6;
            border-radius: 20px;
            border: 1px solid snow;
            font-family: cursive;
            color: rgb(196, 190, 190);
            font-size: 18px;
            padding-bottom: 5px;
            padding-top: 40px;
            width: 99.5%;
            font-family: "Poppins", sans-serif;
        }
        
        h2 {
            font-family: 'Charis SIL', serif;
            position: relative;
            font-size: 14wv;
            border: 2px solid black;
            border-left-width: 12px;
            border-right-width: 12px;
            color: #383d52;
            -webkit-text-stroke: 0.2vw #383d52;
        }
        
        h2::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            color: #00ff2a;
            -webkit-text-stroke: 0vw #383d52;
            border-right: 1px solid #01fe87;
            overflow: hidden;
            animation: animate3 6s linear infinite;
        }
        
        @keyframes animate3 {
            0%,
            10%,
            100% {
                width: 0;
            }
            70%,
            90% {
                width: 100%;
            }
        }
        
        h2::selection {
            background-color: #0b8ed4;
        }
        
        hr {
            width: 80%;
            height: 8px;
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(255, 255, 255);
            border: 0 none;
            margin-bottom: 50px;
        }
        
        #btn-add-old-plan {
            font-size: 12px;
        }
        
        #calc {
            background: #14213d;
            border: 1px solid #3498db;
            transition: all 0.3s ease;
            overflow: hidden;
            margin-top: 30px;
            position: relative;
            left: 60px;
            color: #6dff2a;
            border-radius: 20px;
            padding: 9px 11px;
            margin-right: 2px;
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            padding: 25px 35px;
            transition: 1.3s;
            margin-bottom: 25px;
            transition: transform 0.3s ease;
        }
        
        #calc:after {
            position: absolute;
            content: " ";
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgb(13, 13, 53) 35%, rgb(20, 56, 63) 100%);
            transition: all 0.3s ease;
        }
        
        #calc:hover {
            background: transparent;
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
            color: #fff;
        }
        
        #calc:hover:after {
            -webkit-transform: scale(2) rotate(180deg);
            transform: scale(2) rotate(180deg);
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        }
        
        button:active {
            background-color: #5a189a;
            color: rgb(81, 186, 20)
        }
        
        #wrapper {
            display: grid;
            place-items: center;
        }
        
        .tier-dropdown {
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
        }
        
        .plan-dropdown {
            margin-left: 40px;
            margin-left: 40px;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
        }
        
        #target-tier-select {
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
        }
        
        #target-plan-select {
            margin-left: 40px;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
        }
        
        #currency-select {
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
            position: flex;
        }
        
        .discount-dropdown {
            margin-left: 40px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            position: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: 34px;
        }
        
        #target-discount-select {
            margin-left: 40px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            position: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: 34px;
        }
        
        #discount-select3 {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            position: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        
        p {
            margin: 20px 90px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        body {
            background: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgb(13, 13, 53) 35%, rgb(20, 56, 63) 100%);
            margin: 0;
        }
        
        .box div {
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: 1px solid #0081a7;
        }
        
        .box div:nth-child(1) {
            margin-left: 50px;
            top: 17%;
            left: 6%;
            animation: animate 10s linear infinite;
        }
        
        .box div:nth-child(2) {
            margin-left: 100px;
            top: 67%;
            left: 10%;
            animation: animate 8s linear infinite;
        }
        
        @keyframes animate {
            0% {
                transform: scale(0) translateY(0) rotate(0);
                opacity: 1;
            }
            100% {
                transform: scale(1.3) translateY(-90px) rotate(-360deg);
                opacity: 1;
            }
        }
        
        .bos ul li {
            position: absolute;
            width: 12px;
            height: 12px;
            list-style: none;
            opacity: 0;
            background: radial-gradient(deepskyblue, transparent, transparent);
            bottom: 0;
            left: 10vw;
            animation: animate1 15s linear infinite;
        }
        
        .bos ul li:nth-child(1) {
            left: 85vw;
            animation-delay: 4s;
        }
        
        .bos ul li:nth-child(2) {
            left: 68vw;
            animation-delay: 6s;
        }
        
        @keyframes animate1 {
            0% {
                transform: scale(0);
                opacity: 1;
                bottom: 0;
            }
            100% {
                transform: scale(10);
                opacity: 0;
                bottom: 65vh;
            }
        }
        
        .error-label {
            background-color: rgb(177, 15, 15);
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            border-radius: 15px;
            border: 1px solid azure;
            padding: 4px 30px;
            letter-spacing: 1px;
            transition: 2s;
            display: flex;
        }
        
        .success-label {
            background-color: green;
            color: snow;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            border-radius: 15px;
            border: 1px solid snow;
            padding: 4px 30px;
            letter-spacing: 1px;
            transition: 2s;
            display: flex;
        }
        
        .success-label:hover {
            background: #14213d;
            transition: 1s ease-in-out;
        }
        
        .error-label::selection {
            background-color: rgb(14, 26, 26);
        }
        
        .success-label::selection {
            background-color: rgb(52, 170, 170);
            transition: 1s ease-in-out;
        }
        
        h3 {
            font-size: 17px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
            color: #0b8ed4;
            position: flex;
            bottom: 115px;
        }
        
        #coupon {
            background: #14213d;
            color: #6dff2a;
            border: 1px solid #3498db;
            transition: all 0.3s ease;
            overflow: hidden;
            left: 7px;
            border-radius: 25px;
            padding: 6px 20px;
            margin: 15px 0px 10px 0px;
            font-size: 18px;
            padding: 16px 35px;
        }
        
        #coupon:after {
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            -webkit-transform: scale(.1);
            transform: scale(.1);
        }
        
        #coupon:hover {
            color: #fff;
            border: 1px solid #3498db;
            background: transparent;
        }
        
        #coupon:hover:after {
            background: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgb(13, 13, 53) 35%, rgb(20, 56, 63) 100%);
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        
        .coupon {
            position: flex;
            left: 6px;
        }
        
        #otier1 {
            font-family: cursive;
            position: absolute;
            top: 130px;
            right: 1010px;
        }
        
        #otier2 {
            font-family: cursive;
            position: absolute;
            top: 164px;
            right: 1010px;
        }
        
        #oplan1 {
            font-family: cursive;
            position: absolute;
            top: 130px;
            right: 790px;
        }
        
        #oplan2 {
            font-family: cursive;
            position: absolute;
            top: 164px;
            right: 790px;
        }
        
        #two-plans {
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            background-color: rgba(160, 82, 45, 1);
            color: black;
            font-size: 16px;
            padding: 20px 20px;
            border-radius: 15px;
            transition: 1.3s;
            top: 12%;
            left: 70%;
        }
        
        #two-plans:hover {
            transition: 2s;
            transform: rotate(5deg);
            cursor: pointer;
        }
        
        button:hover {
            transition-timing-function: ease-in;
            color: #fff;
            background: #3d48e7;
        }
        
        button {
            border: 1px solid #3498db;
            background: none;
            padding: 3px 8px;
            font-size: 15px;
            font-family: "montserrat";
            cursor: pointer;
            margin: 0;
            transition: 0.8s;
            position: relative;
            overflow: hidden;
            color: #6dff2a;
            border-radius: 20px;
        }
        
        button::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            background: #3d48e7;
            z-index: -1;
            transition: 0.8s;
        }
        
        #btn-add-old-plan::before {
            top: 0;
            border-radius: 0 0 50% 50%;
        }
        
        #btn-add-old-plan:hover::before {
            height: 180%;
        }